<h6 class="d-inline-flex bg-light font-weight-normal p-1 border rounded">
    <span class="flex-grow-1 pr-2">{{ word.text }}</span>
    <span class="badge badge-danger flex-grow-0">{{ word.count }}</span>
</h6>
