$box-width: 360px;

.form-box {
  display: block;
  margin: 1em auto;
  padding: 0;
  width: $box-width;

  .logo-img {
    margin: 0 auto 2em;
  }
}

@media (max-width: $box-width) {
  .form-box {
    width: auto;
  }
}
