<div class="form-box py-3">
    <div class="container-fluid">
        {# layout header #}
        <div class="row">
            <div class="col col-12 align-items-center d-flex flex-column">
                {% include '.components/brand/logo.html.twig' with {sizeClass: 'size-md'} %}

                <h1 class="h3 mb-3 font-weight-normal">
                    {% block title %}{% endblock %}
                </h1>
            </div>
        </div>

        {# layout body #}
        <div class="row">
            <div class="container col col-12">
                {% block form %}{% endblock %}
            </div>
        </div>
    </div>
</div>
